<h2 class="my-4 text-light">SpaceX Rockets</h2>

<p *ngIf='loading' class="lead text-info my-2">Loading...</p>

  <div *ngFor="let rocket of rockets" class="row my-4 p-3 rocket">
    <div class="col-sm-12 col-md-6">
        <img class="img-fluid" src={{rocket.flickr_images[1]}} alt="Generic placeholder image">
        <div class="mt-1 mb-3">
            <p>Succes Rate</p>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="rocket.success_rate_pct"  aria-valuemin="0" aria-valuemax="100">
                    {{ rocket.success_rate_pct }} % 
                </div>
                <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="100 - rocket.success_rate_pct"  aria-valuemin="0" aria-valuemax="100">
                  <span *ngIf='100 - rocket.success_rate_pct === 100'>0 %</span>
                </div>
              </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <h4 class=" mb-2">{{ rocket.rocket_name }} 
          <small *ngIf='rocket.active === true' class="text-success">ACTIVE</small>
          <small *ngIf='rocket.active === false' class="text-danger">NOT ACTIVE</small>
        </h4>
        <p class="mb-2">First flight : <span class="text-info">{{ rocket.first_flight }}</span></p>
        <p class="lead mb-4">{{ rocket.description }}</p>
        <h5>Diameter: <span class="text-info">{{ rocket.diameter.meters }}</span>M</h5>
        <h5>Height: <span class="text-info">{{ rocket.height.meters }}</span>M</h5>
        <h5>Mass: <span class="text-info">{{ rocket.mass.kg }}</span> KG</h5>
    </div>

  </div>